/* common style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* head section style */
.top-section{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    display: flex;
    margin: 0 auto;
}
.top-detail{
    width: 485px;
    height: 230px;
    font-size: 64px;
    color: #FFFFFF;
    margin: 207px 102px 70px 156px;
}
.top-icon{
    background-color: #E02C6D;
    width: 168px;
    height: 40px;
    margin-left: 155px;
    padding-top: 15px;

}
.icon-detail{
    width: 88px;
    height: 24px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 8px;
}
.ar-icon{
    width: 24px;
    height: 24px;
    margin: 0 8px;
    color: #FFFFFF;
}
.top-section img{
    width: 556.01px;
    height: 438px;
    margin: 153px 141px 86px 102px;
}
.head-section:hover .top-img{
    transform: rotate(180deg);
    transition: transform 2s ease-in-out;
}
/* main section style */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 27px;
    column-gap: 30px;
    margin-top: 70px;
    margin-right: 90%;
    margin-left: 15%;
}
.blog{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    width: 330px;
    height: 474px;

}
.blog img{
    width: 300px;
    height: 256px;
    margin: 15px 15px;
}
h2{
    width: 300px;
    height: 40px;
    color: black;
    font-weight: 700;
}
.blog-info{
    width: 300px;
    height: 154px;
    font-weight: 400;
    color: #6C6C6C;
    margin: 15px 15px;
}
/* footer section */
footer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 215px;
margin-top: 160px;
}
footer img{
    width: 484px;
    height: 110px;
}
.social-img{
    font-size: 1.7em;
    margin-right: 10px;
}
footer p{
    font-size: 18px;
    font-weight: 400;
}
/* media query */
@media (max-width:668px) {
    .top-section{
        flex-direction: column;
        width: 360px;
    }
    .top-detail{
        margin-left: 0;
        font-size: 42px;
        height: 100px;
    }
    .top-icon{
        margin-left: 0;
        margin-top: 10px;
    }
    .top-section img{
        width: 60%;
        height: 60%;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blogs{
        grid-template-columns: 1fr;
        margin: 0;
    }
    footer{
        margin-top: 60px;
    }
    footer img{
        width: 80%;
    }
    
}
/* For tablet */
@media (min-width:700px) and (max-width:992px){
    .top-section{
        flex-direction: column;
        width: 750px;
        height: 550px;
    }
    .top-detail{
        margin-left: 0;
        margin-top: 20px;
        font-size: 55px;
        height: 100px;
    }
    .top-icon{
        margin-left: 0;
        margin-top: 20px;
    }
    .top-section img{
        width: 60%;
        height: 50%;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }
    footer{
        margin-top: 60px;
    }
    footer img{
        width: 80%;
    }
    
}